@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="login-form">
					<!--login form-->
					<h2>Şifre Reset</h2>
					@if (TempData["message"] != null)
					{
						<div class="alert alert-warning">
							<h5>@TempData["message"]</h5>
						</div>
					}
					<form asp-action="ResetPassword" asp-controller="Account">
						<input type="hidden" name="token" value="@Model.token" />
						<input type="hidden" name="userId" value="@Model.userId" />
						
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>

						<input asp-for="Password" placeholder="Şifre" />
						<span asp-validation-for="Password" class="text-danger"></span>

						<input asp-for="RePassword" placeholder="Tekrar Şifre" />
						<span asp-validation-for="RePassword" class="text-danger"></span>
						
						<button type="submit" class="btn btn-default">Şifreyi Yenile</button>
					</form>
				</div><!--/login form-->
			</div>

		</div>
	</div>
</section><!--/form-->

