@using CORE.Entities
@model List<Category>

<div class="panel-group category-products" id="accordian">
	<!--category-productsr-->
	@foreach (var item in Model)
	{
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#@item.Id">
						<span class="badge pull-right"><i class="fa fa-plus"></i></span>
						@item.Name
					</a>
				</h4>
			</div>
			<div id="@item.Id" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						@foreach (var brand in item.BrandCategories.Select(i=> i.Brand).ToList())
						{
							<li><a href="/Home/ProductsByBrand?id=@brand.Id">@brand.Name </a></li>
						}						
					
					</ul>
				</div>
			</div>
		</div>
	}


	

	
	@* <div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a href="#">Kids</a></h4>
		</div>
	</div> *@
</div>